body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
}

.header p{
    display:inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
    

}

.nav a {
    margin: 0 10px;
    font-size: 14px;
    color: #333;
}

#registro {
    background-color: #beb66b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
}

#login {
    background-color: #d37232;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
}


.card {
    background: #dda9ec;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    padding: 20px;
    text-align: center;
}

.card p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
}

.card a {
    font-family:Arial, Helvetica, sans-serif;

}

.input-email {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.input-email:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(103, 1, 112, 0.945);
}

.card a {
    text-align: center ;
    font-size: 14px;
    color: #1e5368;
    margin-top: 15px; 
    display: block;
    font-weight:lighter;
}

#confirm {
    background-color: #9c0b95;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

#confirm:hover {
    background-color: #b30045;
}